<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'dev/index/styleIndex.css' %}"/>
    <!--<script src="{% static 'dev/util.js' %}"> </script>-->

    <title>PyDraw Dev</title>
</head>
{% csrf_token %}
<body style="margin: 0" onload="initColors()" >
<h3 style="text-align: center;">Intelligent handwrite recognition</h3>

    <section>
    <div id="left">
        <canvas id="canvas" style="display: block;">
            Sorry, your browser needs an update
        </canvas>

        <div id="toolbar">

            <div id="sendBtn" class="btn">
                Process</div>
            <div id="clearBtn" class="btn">
                    Clear</div>

            <div id="colors">
            </div>


        </div>
    </div>

    <div id="right">

    </div>
    </section>
        <script src="{% static 'dev/index/indexColors.js' %}"> </script>
        <script src="{% static 'dev/index/indexMain.js' %}"> </script>
        <script src="{% static 'dev/index/indexSave.js' %}"> </script>
 </body>
</html>