<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script src="{% static 'dev/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dev/index/styleIndex2.css' %}"/>
    <script src="{% static 'dev/util.js' %}"> </script>

    <title>PyDraw Dev</title>
</head>
<body style="margin: 0"  onload="initColors()">

        <div id="toolbar">
            <div id="options">
            </div>

            <div id="sendBtn" class="btn">
                Process</div>
            <div id="clearBtn" class="btn">
                    Clear</div>

            <div id="colors">
            </div>

        </div>
        <div id="test"></div>


        <canvas id="canvas" style="display: block;">
            Sorry, your browser needs an update
        </canvas>

        <div id="right">
            <br/>
            <div class="results" id="results">Results </div>
            <div id="audio_div"></div>
        <br/>
        <br/>
        <br/>
        <div id="content">

        </div>
    </div>

        <script src="{% static 'dev/index/indexColors.js' %}"> </script>
        <script src="{% static 'dev/index/indexMain.js' %}"> </script>
        <script src="{% static 'dev/index/indexComm.js' %}"> </script>
        <script src="{% static 'dev/index/indexOptions.js' %}"> </script>

    </body>
</html>